<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Голосовой помощник</title>
	<script src="{{ url_for('static', path='/js/main.js') }}"></script>
	<style>
	html { overflow: hidden; }
	body { 
		font: 14pt Arial, sans-serif; 
		background: lightgrey;
		display: flex;
		flex-direction: column;
		height: 100vh;
		width: 100%;
		margin: 0 0;
	}
	#controls {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		height: 20%;
		width: 100%;
	}
	#record { height: 15vh; }
	#record.recording { 
		background: red;
		background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%); 
		background: -moz-radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%); 
		background: radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%); 
	}
	#waiting { visibility: hidden; }
	#waiting.waiting { visibility: visible; }
	#not_found { visibility: hidden; }
	#not_found.not_found { visibility: visible; }
	</style>
</head>
<body>
	<div id="controls">
		<img id="record" src="{{ url_for('static', path='/images/mic128.png') }}" onclick="toggle_recording(this);" class="">
		<span id="waiting">Обожжи...</span>
		<span id="not_found">Команда не найдена</span>
	</div>

</body></html>